head
	meta(charset='utf-8')
	title データソフトテニス管理画面
body

	h1 データソフトテニス管理画面

	h2 マスターデータ管理
		ul
			li
				a(href="create-new-competition-tag") 大会タグ作成
			li
				a(href="create-new-match-tag") 試合タグ作成
			li
				a(href="create-new-tennis-court") 会場作成
			li
				a(href="create-new-champion") 優勝者作成
			li
				a(href="create-new-shot-type") ショット種類作成
			li
				a(href="create-new-shot-direction") コース作成

	h2 コンテンツ作成
		ul
			li
				a(href="create-new-competition") 大会作成
			li
				a(href="create-new-team") チーム作成
			li
				a(href="create-new-player") プレーヤー作成